###Common###
NFS_SERVER=greenbox3.spb.play.dc
NFS_EXPORT_DIR=/backups

MOUNT_DIR=/backups

_ENV=production
############

###pg_backup.sh###
BACKUP_DIR=${MOUNT_DIR}/${_ENV}/hadoop-nn2.spb.play.dc

PGHOST=localhost
PGPORT=5433
PGUSER=postgres
PGPASSWORD=postgres
PGDATA=/var/lib/pgsql/9.1/data
PGHOME=/var/lib/pgsql
PGVERSION=9.1
PGCTRLBIN=`which pg_controldata 2>/dev/null || echo "/usr/pgsql-9.1/bin/pg_controldata"`
PGCTLBIN=`which pg_ctl 2>/dev/null || echo "/usr/pgsql-9.1/bin/pg_ctl"`
PGSTANDALONE=no
SYSTEM_PGUSER=postgres
SECURE=no
PGP_RECIPIENT=nobody@${fqdn}

LOCAL_BACKUP_DIR=/var/lib/pgsql/9.1/backups

DATABASES=""

##################

###sys-backup.sh###
ZIP_DIRS="/etc /var/spool/cron"
ZIP_DIRS_EXCLUDE=""
###################

###hadoop-backup.sh###
HADOOP_LOCAL_TMP_DIR=/tmp/hadoop.backup
BACKUP_SCRIPT=/root/bin/getHDFSMetaData.py
HADOOP_NAMENODE=hadoop-nn.spb.play.dc
HADOOP_NAMENODE_PORT=50070
######################

###hbase-backup.sh###
HBASE_BACKUP_DIRS="/hbase/-ROOT- /hbase/.META. /hbase/hbase.version"

HBASE_LOCAL_TMP_DIR=/tmp/hbase.backup
HBASE_SYSTEM_USER=hdfs
HBASE_SYSTEM_GROUP=hdfs
#####################

###basebackup.sh###
BASEBACKUP_BIN=`which pg_basebackup 2>/dev/null || echo "/usr/pgsql-9.1/bin/pg_basebackup"`
BASEBACKUP_BACKUP_DIR=${MOUNT_DIR}/${_ENV}/`hostname -f`/basebackup
LBZIP2_BIN=`which lbzip2 2>/dev/null || echo "/usr/bin/lbzip2"`
###################

###walmanage.sh###
WAL_ARCH_DIR=${MOUNT_DIR}/${_ENV}/muvi_archive
##################

###mkslave.sh###
SLAVE_SRV=
VIP_MASTER=
VIP_SLAVE=
DB_NIS_GROUP=RU.YL_Play_Prod_DB_Read,RU.YL_Play_Prod_DB_RW
################

###redis-bgsave.sh###
REDIS_CLI_BIN=/usr/bin/redis-cli
#####################

###notify-by-email
MAIL_TO=root
MAIL_PROGRAM=mutt
###############
